.Home-Screen {
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/e/e7/HZD_WeaponWheel.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}