body {
 font-family: "Overlock" ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Overlock";
}

h1 {
  font-family: "Fantasy";
}

main {
  width: 70%;
  margin: auto;
}

a {
  text-decoration: none;
  color: rgb(235, 94, 40);
}

h4 {
  margin: 0;
  font-size: 1em;
  text-align: center;
}

img {
  width: 200px;
}


.Card {
  background-color: rgb(255, 252, 242);
  box-shadow: 5px 5px 13px;
  margin: 1em;
  padding: 1em;
}

div.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 1em;
}

form {
  text-align: center;
}